################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CanvasClone1/.vs/CanvasClone1
/CanvasClone1/CanvasClone1/obj
/CanvasClone1/Library.CanvasClone1/obj
